-r requirements.txt
-r multilens/constructs/image_convert_function/requirements.txt
-r multilens/constructs/line_api_callback_function/requirements.txt

black
flake8
isort
moto[all]
mypy
pytest==6.2.5
pytest-cov
pytest-mock
pytest-snapshot
